<app-modal-header title="Create user..." (close)="modalRef.hide()"></app-modal-header>
<form [formGroup]="form" (ngSubmit)="confirm()">
  <div class="modal-body">
    <h3>General</h3>
    <div class="form-group">
      <label for="ownerInput">Owner</label>
      <input type="text" class="form-control" id="ownerInput" formControlName="owner" required>
    </div>

    <h3>Permissions</h3>
    <div class="d-flex flex-wrap" formGroupName="permissions">
      <div class="form-group form-check mr-3" *ngFor="let permission of Permissions">
        <input type="checkbox" class="form-check-input" [id]="permission.htmlEncoded" [formControlName]="permission.htmlEncoded">
        <label class="form-check-label" [for]="permission.htmlEncoded">{{permission.scope}}</label>
      </div>
    </div>

    <h3>Sharing</h3>
    <app-ownership [sharedWith]="form.controls.sharedWith | cast:FormArrayType"></app-ownership>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || processing">Create</button>
  </div>
</form>
