<div class="form-group">
  <ng-template #userResult let-item="item">
    <div class="typeahead-item">
      <img class="rounded-circle" [src]="item.picture || '/assets/default-profile.svg'">
      <span class="ml-4">{{item.name}} - {{item.email}}</span>
    </div>
  </ng-template>

  <input type="text"
         class="form-control"
         id="shareWith"
         [(ngModel)]="search"
         [typeahead]="usersByEmail$"
         [typeaheadAsync]="true"
         [typeaheadItemTemplate]="userResult"
         (typeaheadOnSelect)="share($event)"
         typeaheadOptionField="email"
         placeholder="Add by email...">
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 100%">User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let control of sharedWith.controls">
      <td>{{control.value}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(control.value)">Delete...</button>
      </td>
    </tr>
  </tbody>
</table>
