<div class="modal-header">
  <h2 class="modal-title">Delete {{type}}...</h2>
</div>
<ng-container *ngIf="(id | typeof:'string') || id.length === 1; else ids">
  <div class="modal-body">
    <p>This operation will delete the {{type}}:</p>
    <p>{{id}}</p>
    <p>Are you sure?</p>
  </div>
</ng-container>
<ng-template #ids>
  <div class="modal-body">
    <p>This operation will delete the following {{type}}s:</p>
    <ul *ngFor="let i of id">
      <li>{{i}}</li>
    </ul>
    <p>Are you sure?</p>
  </div>
</ng-template>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="confirm()" [disabled]="processing">Yes</button>
  <button type="button" class="btn btn-secondary" (click)="modalRef.hide()" [disabled]="processing">No</button>
</div>
