<div class="form-group" *ngIf="user$ | can:'read:users' | async">
  <ng-template #userResult let-item="item">
    <div class="typeahead-item profile">
      <img class="rounded-circle" [src]="item.picture || '/assets/default-profile.svg'">
      <span class="ml-2">{{item.name}} - {{item.email || item.username}}</span>
    </div>
  </ng-template>

  <input type="text"
         class="form-control"
         id="shareWith"
         [(ngModel)]="search"
         [typeahead]="usersByEmail$"
         [typeaheadAsync]="true"
         [typeaheadItemTemplate]="userResult"
         (typeaheadOnSelect)="share($event)"
         typeaheadOptionField="email"
         placeholder="Add by name or email...">
</div>

<ng-container *ngFor="let entry of formArray.controls">
  <div class="profile" *ngIf="entry | cast:FormGroupType as shareGroup">
    <img class="rounded-circle"
         [src]="shareGroup.controls.picture.value || '/assets/default-profile.svg'"
         (error)="$event.target.src = '/assets/default-profile.svg'">
    <span class="mx-2">
      {{shareGroup.controls.name.value}}
      <ng-container *ngIf="shareGroup.controls.email.value || shareGroup.controls.username.value as user"> - {{user}}</ng-container>
    </span>
    <button type="button" class="btn btn-danger" (click)="delete(shareGroup.controls.ownershipId.value)">Delete...</button>
  </div>
</ng-container>
