<div class="form-group" *ngIf="user$ | can:'read:users' | async">
  <ng-template #userResult let-item="item">
    <div class="typeahead-item profile">
      <img class="rounded-circle" [src]="item.picture || '/assets/default-profile.svg'">
      <span class="ml-2">{{item.name}} - {{item.email || item.username}}</span>
    </div>
  </ng-template>

  <input type="text"
         class="form-control"
         id="shareWith"
         [(ngModel)]="search"
         [typeahead]="usersByEmail$"
         [typeaheadAsync]="true"
         [typeaheadItemTemplate]="userResult"
         (typeaheadOnSelect)="share($event)"
         typeaheadOptionField="email"
         placeholder="Add by name or email...">
</div>

<ng-container *ngFor="let control of formArray.controls">
  <div class="profile" *ngIf="(sharedWith | filter:getOwnershipId(control.value))[0] as user">
    <img class="rounded-circle" [src]="user.picture || '/assets/default-profile.svg'">
    <span class="mx-2">{{user.name}} - {{user.email || user.username}}</span>
    <button type="button" class="btn btn-danger" (click)="delete(control.value)">Delete...</button>
  </div>
</ng-container>
