<div class="form-group" *ngIf="user$ | can:'read:users' | async">
  <ng-template #userResult let-item="item">
    <div class="typeahead-item profile">
      <img class="rounded-circle" [src]="item.picture || '/assets/default-profile.svg'">
      <span class="ml-2">{{item.name}} - {{item.email || item.username}}</span>
    </div>
  </ng-template>

  <input type="text"
         class="form-control"
         id="shareWith"
         [(ngModel)]="search"
         [typeahead]="usersByEmail$"
         [typeaheadAsync]="true"
         [typeaheadItemTemplate]="userResult"
         (typeaheadOnSelect)="share($event)"
         typeaheadOptionField="email"
         placeholder="Add by name or email...">
</div>

<ng-container *ngFor="let share of sharedWith">
  <div class="profile">
    <img class="rounded-circle" [src]="share.picture || '/assets/default-profile.svg'">
    <span class="mx-2">
      {{share.name}}
      <ng-container *ngIf="share.email || share.username as user"> - {{user}}</ng-container>
    </span>
    <button type="button" class="btn btn-danger" (click)="delete(share.ownershipId)">Delete...</button>
  </div>
</ng-container>
