<app-modal-header title="Create campaign..." (close)="modalRef.hide()"></app-modal-header>
<form [formGroup]="form" (ngSubmit)="confirm()">
  <div class="modal-body">
    <h3>General</h3>
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput" formControlName="name" required>
    </div>

    <h3>Sharing</h3>
    <app-ownership [formArray]="form.controls.sharedWith | cast:FormArrayType" [sharedWith]="[]"></app-ownership>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || processing">Create</button>
  </div>
</form>
