<div class="btn-group" dropdown>
  <button type="button" dropdownToggle class="btn btn-secondary dropdown-toggle">
    {{(values | call:mainLabelSelector) || 'Select...'}}
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" *ngFor="let value of values">
      <a class="dropdown-item selected" [routerLink]="" (click)="unselect(value)">
        {{value | call:listLabelSelector}}
      </a>
    </li>

    <li class="divider dropdown-divider" *ngIf="values.length && unselectedChoices.length"></li>

    <li role="menuitem" *ngFor="let choice of unselectedChoices">
      <a class="dropdown-item" [routerLink]="" (click)="select(choice)">
        {{choice | call:listLabelSelector}}
      </a>
    </li>
  </ul>
</div>
