<app-modal-header title="Edit character..." (close)="modalRef.hide()"></app-modal-header>
<form [formGroup]="form" (ngSubmit)="confirm()">
  <div class="modal-body">
    <h3>General</h3>
    <div class="form-group">
      <label for="playerFullNameInput">Player</label>
      <input type="text" class="form-control" id="playerFullNameInput" formControlName="playerFullName" required>
    </div>
    <div class="form-group">
      <label for="characterFullNameInput">Character</label>
      <input type="text" class="form-control" id="characterFullNameInput" formControlName="characterFullName" required>
    </div>

    <h3>Downtime</h3>
    <div class="form-group">
      <label for="accruedDowntimeDaysInput">Accrued downtime</label>
      <input type="text" class="form-control" id="accruedDowntimeDaysInput" formControlName="accruedDowntimeDays" required>
      <small>days</small>
    </div>

    <h3>Sharing</h3>
    <app-ownership [sharedWith]="form.controls.sharedWith | cast:FormArrayType"></app-ownership>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || processing">Save</button>
  </div>
</form>
