<h1>Characters</h1>
<button type="button" class="btn btn-success mb-2" (click)="create()">Create...</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Player</th>
    <th scope="col">Character</th>
    <th scope="col">Accrued Downtime</th>
  </tr>
  </thead>
  <tbody *ngIf="characters$ | async as characters">
  <tr *ngFor="let character of characters">
    <td>{{character.id}}</td>
    <td>{{character.playerFullName}}</td>
    <td>{{character.characterFullName}}</td>
    <td>{{character.accruedDowntimeDays}} days</td>
    <td>
      <button type="button" class="btn btn-info mr-1" (click)="edit(character)">Edit...</button>
      <button type="button" class="btn btn-danger" (click)="delete(character)">Delete...</button>
    </td>
  </tr>
  </tbody>
</table>
