<app-modal-header title="Award downtime..." (close)="modalRef.hide()"></app-modal-header>
<form [formGroup]="form" (ngSubmit)="award()">
  <div class="modal-body">
    <div class="form-group">
      <label for="downtimeDaysInput">Downtime</label>
      <input type="text" class="form-control" id="downtimeDaysInput" formControlName="downtimeDays" required min="1">
      <small>days</small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || processing">Award</button>
  </div>
</form>
