<app-modal-header title="Award progress..." (close)="modalRef.hide()"></app-modal-header>
<form [formGroup]="form" (ngSubmit)="award()">
  <div class="modal-body">
    <ng-container formArrayName="costs" *ngIf="form.controls.costs | cast:FormArrayType as costs">
      <button type="button" class="btn btn-secondary" (click)="addCost(form)">Add</button>

      <div class="ml-3" *ngFor="let costForm of costs.controls; index as costIndex">
        <ng-container *ngIf="costForm | cast:FormGroupType as costGroup" [formGroupName]="costIndex">
          <h5>{{costIndex}}</h5>
          <button type="button" class="btn btn-danger" (click)="removeCost(form, costGroup)">Remove...</button>

          <div class="form-group">
            <label [for]="'activityCostKindInput_' + costIndex">Kind</label>
            <app-picker class="d-block"
                        [id]="'activityCostKindInput_' + costIndex"
                        [choices]="ActivityCostKinds"
                        (change)="costGroup.controls.activityCostKind.setValue($event)">
            </app-picker>
          </div>
          <div class="form-group">
            <label [for]="'deltaInput_' + costIndex">Delta</label>
            <input type="text" class="form-control" [id]="'deltaInput_' + costIndex" formControlName="delta" required>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || processing">Award</button>
  </div>
</form>
