<ng-container *ngIf="user$ | async as user; else guestWelcome">
  <h1>Welcome back {{user.owner}}</h1>
</ng-container>
<ng-template #guestWelcome>
  <h1>Welcome</h1>
</ng-template>

<h2>Current downtime</h2>
<button type="button"
        class="btn btn-secondary mb-1 mr-2"
        (click)="beginAwardDowntime()"
        [disabled]="!selectedCharacters.length"
        *ngIf="isAdmin$ | async">
  Award downtime...
</button>
<button type="button"
        class="btn btn-secondary mb-1"
        (click)="beginScheduleDowntime()"
        [disabled]="!selectedCharacters.length"
        *ngIf="isAdmin$ | async">
  Schedule downtime...
</button>

<table class="table table-striped" *ngIf="characters$ | async as characters">
  <thead>
  <tr>
    <th style="width: 3rem"></th>
    <th>Player</th>
    <th>Character</th>
    <th>Accrued</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let character of characters" (click)="toggleCharacter(character)">
    <td>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               [checked]="selectedCharacters | includes:character">
      </div>
    </td>
    <td>{{character.playerFullName}}</td>
    <td>{{character.characterFullName}}</td>
    <td>{{character.accruedDowntimeDays}} days</td>
  </tr>
  </tbody>
</table>

<h2>Scheduled downtimes</h2>
<button type="button"
        class="btn btn-secondary mb-1 mr-2"
        (click)="beginAwardProgress()"
        [disabled]="!selectedDowntimes.length"
        *ngIf="isAdmin$ | async">
  Award progress...
</button>
<button type="button"
        class="btn btn-danger mb-1"
        (click)="cancelDowntimes()"
        [disabled]="!selectedDowntimes.length"
        *ngIf="isAdmin$ | async">
  Cancel downtime...
</button>

<table class="table table-striped" *ngIf="downtimes$ | async as downtimes">
  <thead>
  <tr>
    <th style="width: 3rem"></th>
    <th>Player</th>
    <th>Character</th>
    <th>Activity</th>
    <th>Progress</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let downtime of downtimes | filter:isScheduled" (click)="toggleDowntime(downtime)">
    <td>
      <div class="form-check">
        <input type="checkbox"
               class="form-check-input"
               [checked]="selectedDowntimes | includes:downtime">
      </div>
    </td>
    <td>{{downtime.character.playerFullName}}</td>
    <td>{{downtime.character.characterFullName}}</td>
    <td>{{downtime.activity.name}}</td>
    <td>
      <app-progresses-presenter [progresses]="downtime.progresses" [animate]="true"></app-progresses-presenter>
    </td>
  </tr>
  </tbody>
</table>

<h2>Completed downtimes</h2>
<table class="table table-striped" *ngIf="downtimes$ | async as downtimes">
  <thead>
  <tr>
    <th>Player</th>
    <th>Character</th>
    <th>Activity</th>
    <th>Spent</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let downtime of downtimes | filter:isCompleted">
    <td>{{downtime.character.playerFullName}}</td>
    <td>{{downtime.character.characterFullName}}</td>
    <td>{{downtime.activity.name}}</td>
    <td>
      <app-progresses-presenter [progresses]="downtime.progresses" [animate]="false"></app-progresses-presenter>
    </td>
  </tr>
  </tbody>
</table>
