<app-modal-header title="Schedule downtime..." (close)="modalRef.hide()"></app-modal-header>
<form *ngIf="goalCalculations$ | async as errors" [formGroup]="form" (ngSubmit)="schedule()">
  <div class="modal-body">
    <h3>Activity</h3>
    <div class="btn-group" dropdown>
      <button type="button" dropdownToggle class="btn btn-secondary dropdown-toggle">
        {{selectedActivity?.name || 'Select...'}} <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <ng-container *ngIf="activities$ | async as activities">
          <li role="menuitem" *ngFor="let activity of activities">
            <a class="dropdown-item" [routerLink]="" (click)="selectActivity(activity)">{{activity.name}}</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <h3>Costs</h3>
    <ng-container formArrayName="costs" *ngIf="form.controls.costs | cast:FormArrayType as costs">
      <div class="ml-3" *ngFor="let costForm of costs.controls; index as costIndex">
        <ng-container [formGroupName]="costIndex">
          <h4>{{costForm.controls.activityCostKind.value}}</h4>
          <p>{{costForm.controls.jexlExpression.value}} => {{costForm.controls.goal.value}}</p>

          <h4>Parameters</h4>
          <ng-container formArrayName="parameters" *ngIf="costForm.controls.parameters | cast:FormArrayType as parameters">
            <div class="ml-3" *ngFor="let parameterForm of parameters.controls; index as parameterIndex">
              <ng-container [formGroupName]="parameterIndex">
                <div class="form-group">
                  <label [for]="'variableValueInput_' + parameterIndex">{{parameterForm.controls.variableName.value}}</label>
                  <input type="text" class="form-control" [id]="'variableValueInput_' + parameterIndex" formControlName="variableValue" required>
                  <small>{{parameterForm.controls.description.value}}</small>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <span *ngIf="errors.length">
      Calculation error: {{errors[0]}}
    </span>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || processing || errors.length">Schedule</button>
  </div>
</form>
