<app-modal-header title="Create activity..." (close)="modalRef.hide()"></app-modal-header>
<form [formGroup]="form" (ngSubmit)="confirm()">
  <div class="modal-body">
    <h3>General</h3>
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput" formControlName="name" required>
    </div>
    <div class="form-group">
      <label for="descriptionMarkdownInput">Description</label>
      <input type="text" class="form-control" id="descriptionMarkdownInput" formControlName="descriptionMarkdown">
      <small>markdown</small>
    </div>
    <div class="form-group">
      <label for="complicationMarkdownInput">Complication</label>
      <input type="text" class="form-control" id="complicationMarkdownInput" formControlName="complicationMarkdown">
      <small>markdown</small>
    </div>

    <ng-container formArrayName="costs" *ngIf="form.controls.costs | cast:FormArrayType as costs">
      <h3>Costs</h3>
      <button type="button" class="btn btn-secondary" (click)="addCost(form)">Add</button>

      <div class="ml-3" *ngFor="let costForm of costs.controls; index as costIndex">
        <ng-container *ngIf="costForm | cast:FormGroupType as costGroup" [formGroupName]="costIndex">
          <h4>{{costIndex}}</h4>
          <button type="button" class="btn btn-danger" (click)="removeCost(form, costGroup)">Remove...</button>

          <div class="form-group">
            <label [for]="'kindInput_' + costIndex">Kind</label>
            <app-picker class="d-block"
                        [id]="'kindInput_' + costIndex"
                        [choices]="ActivityCostKinds"
                        (change)="costGroup.controls.kind.setValue($event)">
            </app-picker>
          </div>
          <div class="form-group">
            <label [for]="'jexlExpressionInput_' + costIndex">Expression</label>
            <input type="text" class="form-control" [id]="'jexlExpressionInput_' + costIndex" formControlName="jexlExpression" required>
            <small>Uses the <a target="_blank" href="https://github.com/TomFrost/jexl">jexl syntax</a></small>
          </div>

          <ng-container formArrayName="parameters" *ngIf="costGroup.controls.parameters | cast:FormArrayType as parameters">
            <h4>Parameters</h4>
            <button type="button" class="btn btn-secondary" (click)="addParameter(costGroup)">Add</button>

            <div class="ml-3" *ngFor="let parameterForm of parameters.controls; index as parameterIndex">
              <ng-container *ngIf="parameterForm | cast:FormGroupType as parameterGroup" [formGroupName]="parameterIndex">
                <h5>{{parameterIndex}}</h5>
                <button type="button" class="btn btn-danger" (click)="removeParameter(costGroup, parameterGroup)">Remove...</button>

                <div class="form-group">
                  <label [for]="'variableNameInput_' + parameterIndex">Name</label>
                  <input type="text" class="form-control" [id]="'variableNameInput_' + parameterIndex" formControlName="variableName" required>
                </div>
                <div class="form-group">
                  <label [for]="'descriptionInput_' + parameterIndex">Description</label>
                  <input type="text" class="form-control" [id]="'descriptionInput_' + parameterIndex" formControlName="description" required>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <h3>Sharing</h3>
    <app-ownership [formArray]="form.controls.sharedWith | cast:FormArrayType"></app-ownership>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || processing">Create</button>
  </div>
</form>
