a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

a.nav-link {
  padding: 12px;
}

.btn.rounded-circle {
  padding: 0;
}

.btn.rounded-circle img {
  width: 3rem;
  height: 3rem;
}

.navbar-picker {
  display: inline-block;
  padding-top: 0.35rem;
}
