<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Westmoor - Downtime Planner</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [collapse]="!isExpanded">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <ng-container *ngIf="isAdmin$ | async">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/characters']">Characters</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/activities']">Activities</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/users']">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/swagger">Swagger</a>
            </li>
          </ng-container>
          <ng-container *ngIf="user$ | async as user; else signedOut">
            <div class="btn-group mx-2" dropdown placement="bottom right">
              <button type="button" dropdownToggle class="btn rounded-circle">
                <img class="rounded-circle" [src]="user.picture || '/assets/default-profile.svg'">
              </button>
              <ul role="menu" *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <li role="menuitem"><a class="dropdown-item" [routerLink]="['/signout']">Sign Out</a></li>
              </ul>
            </div>
          </ng-container>
          <ng-template #signedOut>
            <li class="nav-item">
              <a class="nav-link text-dark" (click)="signIn()">Sign in</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>
